<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prevoyance</title>
    <script src="//mathjax.rstudio.com/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="//libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#positive-or-negative").hide();

        });

        function initParameterInputer(model) {
            if (model === "Model2") {
                if ($("#parameter-c").is(":visible")) {
                    $("#parameter-c").hide();
                }
                if ($("#parameter-d").is(":visible")) {
                    $("#parameter-d").hide();
                }
                if ($("#positive-or-negative").is(":visible")) {
                    $("#positive-or-negative").hide();
                }
            } else if (model === "Model3") {
                if ($("#parameter-c").is(":visible")) {
                    $("#parameter-c").hide();
                }
                if ($("#parameter-d").is(":hidden")) {
                    $("#parameter-d").show();
                }
                if ($("#positive-or-negative").is(":hidden")) {
                    $("#positive-or-negative").show();
                }
            } else if (model === "Model4") {
                if ($("#parameter-c").is(":hidden")) {
                    $("#parameter-c").show();
                }
                if ($("#parameter-d").is(":visible")) {
                    $("#parameter-d").hide();
                }
                if ($("#positive-or-negative").is(":visible")) {
                    $("#positive-or-negative").hide();
                }
            } else if (model === "Model5") {
                if ($("#parameter-c").is(":hidden")) {
                    $("#parameter-c").show();
                }
                if ($("#parameter-d").is(":hidden")) {
                    $("#parameter-d").show();
                }
                if ($("#positive-or-negative").is(":visible")) {
                    $("#positive-or-negative").hide();
                }
            }
        }

        $(document).ready(function () {
            $('input[type=radio][name=model]').change(function () {
                if (this.value === 'Model2') {
                    initParameterInputer('Model2');
                } else if (this.value === 'Model3') {
                    initParameterInputer('Model3');
                } else if (this.value === 'Model4') {
                    initParameterInputer('Model4');
                } else if (this.value === 'Model5') {
                    initParameterInputer('Model5');
                }
            });
        });

        function compute() {
            if ($("#result-table")) {
                $("#result").empty();
            }
            $.ajax({
                type: "POST",
                url: "/Compute",
                data: {
                    "model": $("input[name='model']:checked").val(),
                    "a": $("input[name = 'a']").val(),
                    "b": $("input[name = 'b']").val(),
                    "c": $("input[name = 'c']").val(),
                    "d": $("input[name = 'd']").val(),
                    "plus_minus_sign": $("select[name='plus_minus_sign']").val(),
                    "grid": $("input[name = 'grid']").val(),
                    "iterateTimes": $("input[name = 'iterateTimes']").val(),
                    "lowerBoundary": $("input[name = 'lowerBoundary']").val(),
                    "upperBoundary": $("input[name = 'upperBoundary']").val()
                },
                dataType: "json",
                success: function (json) {
                    console.log(json);//打印服务端返回的数据(调试用)
                    var item
                    $("#result").append("<br><b>Result:</b>")
                    $("#result").append("<table id=\"result-table\" style=\"width:100%\"> </table>")
                    $("#result-table").append("<tr id=\"point\"></tr>");
                    $("#point").append("<td>points</td>");
                    $.each(json, function (i, item) {
                        $("#point").append("<td>" + item[0] + "</td>");
                    });
                    $("#result-table").append("<tr id=\"weight\"></tr>");
                    $("#weight").append("<td>weight</td>");
                    $.each(json, function (i, item) {
                        $("#weight").append("<td>" + item[1] + "</td>");
                    });
                }
            });

        }

        function plot() {
            if ($("#functionImage")) {
                $("#functionImage").remove()
            }
            $.ajax({
                type: "POST",
                url: "/Plot",
                data: {
                    "model": $("input[name='model']:checked").val(),
                    "a": $("input[name = 'a']").val(),
                    "b": $("input[name = 'b']").val(),
                    "c": $("input[name = 'c']").val(),
                    "d": $("input[name = 'd']").val(),
                    "plus_minus_sign": $("select[name='plus_minus_sign']").val(),
                    "grid": $("input[name = 'grid']").val(),
                    "iterateTimes": $("input[name = 'iterateTimes']").val(),
                    "lowerBoundary": $("input[name = 'lowerBoundary']").val(),
                    "upperBoundary": $("input[name = 'upperBoundary']").val()
                },
                dataType: "json",
                success: function (json) {
                    console.log(json);//打印服务端返回的数据(调试用)
                    $("#function").append("<div id=\"functionImage\"></div>")
                    $("#functionImage").append("<b>Plot:</b><br>")
                    $("#functionImage").append("<img id='functionImage' src=\"data:image/png;base64," + json + "\">")
                }
            });
        }

        function plotAndCompute() {
            compute();
            plot();
        }
    </script>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        .designArea {
            border: 2px #f2f2f2 dotted;
            background-color: #f7f7f7;
            width: 85%;
            overflow: auto;
            margin: 0 auto;
        }

        #parameter {
            background-color: #f2f2f2;
            width: 30%;
            border: 2px #f1f1f1 double;
            float: left;
            margin: 1%;
        }

        #plot {
            background-color: #f7f7f7;
            width: 65%;
            float: right;
            margin: 1%;

        }
    </style>

</head>
<body>
<h1>
    Prevoyance
</h1>
<br>
<b>Description:</b> Prevoyance is an application that can compute D-optimal designs for Dose-Response design which can
be
described by a general family of models.
<br>
<b>Models:</b>
<p>$$\text{Model 1:}\quad y = a \text{ with }a>0$$</p>
<p>$$\text{Model 2:}\quad y = a \exp{(x/b)} \text{ with }a>0$$</p>
<p>$$\text{Model 3:}\quad y = a \exp{(\pm(x/b)^d)} \text{ with }a>0, b>0, d\geq1$$</p>
<p>$$\text{Model 4:}\quad y = a [c - (c -1)\exp{(-x/b)}] \text{ with }a>0, b>0, c>0$$</p>
<p>$$\text{Model 5:}\quad y = a [c - (c -1)\exp{(-(x/b)^d)}] \text{ with }a>0, b>0, c>0,d\geq1$$</p>
<p>This four models can be used for describing the change in any continuous endpoint as a function of dose.</p>
<p>\(y\) is any continuous endpoint, and \(x\) denotes the dose. </p>
<p>In all models the parameter \(a\) represents the level of the endpoint at dose 0, and \(b\) can be considered as the
    parameter reﬂecting the efﬁcacy of the chemical (or the sensitivity of the subject).</p>
<p>At high doses Models 3 and 4 level off to the value \(ac\), so the parameter \(c\) can be interpreted as the maximum
    relative change.</p>
<p>The parameter \(d\) is constrained to values \(\geq\) 1, to prevent the slope of the function at dose 0 being
    inﬁnite, which seems biologically implausible.</p>
<br>
<div class="designArea">
    <div id="parameter">
        <b>Models:</b>
        <br>
        <form id="parameter-inputer" method="post">
            <div id="model-selector">
                <input type="radio" name="model" value="Model2">Model 2<br>
                <input type="radio" name="model" value="Model3">Model 3<br>
                <input type="radio" name="model" value="Model4">Model 4<br>
                <input type="radio" name="model" value="Model5" checked>Model 5<br>
            </div>
            <br>
            <b>Parameters:</b>
            <br>
            <div id="parameter-a">
                <label for="parameter-a-inputer"><span style="display:inline-block;width:11px">\(a\)</span>:</label>
                <input type="text" name="a" id="parameter-a-inputer" value="349.02687">
                <br>
            </div>
            <div id="parameter-b">
                <label for="parameter-b-inputer"><span style="display:inline-block;width:11px">\(b\)</span>:</label>
                <input type="text" name="b" id="parameter-b-inputer" value="1067.04343">
                <br>
            </div>
            <div id="parameter-c">
                <label for="parameter-c-inputer"><span style="display:inline-block;width:11px">\(c\)</span>:</label>
                <input type="text" name="c" id="parameter-c-inputer" value="0.76332">
                <br>
            </div>
            <div id="parameter-d">
                <label for="parameter-d-inputer"><span style="display:inline-block;width:11px">\(d\)</span>:</label>
                <input type="text" name="d" id="parameter-d-inputer" value="2.60551">
                <br>
            </div>
            <div id="positive-or-negative">
                <label for="po-ne"><span style="display:inline-block;width:11px">\(\pm\)</span>:</label>
                <select name="plus_minus_sign" id="po-ne" style="display:inline-block;width:153px">
                    <option value="positive">+</option>
                    <option value="negative">-</option>
                </select>
                <br>
            </div>
            <div>
                <br>
                <b>Settings for design:</b><br>
                <label>lower dose boundary (bigger than 0):</label><br>
                <input type="text" name="lowerBoundary" value="0.00001"><br>
                <label>upper dose boundary:</label><br>
                <input type="text" name="upperBoundary" value="2500"><br>
                <label>number of available dose levels (less than 100):</label><br>
                <input type="text" name="grid" value="1000"><br>
                <label>Number of iterations for algorithm (less than 100):</label><br>
                <input type="text" name="iterateTimes" value="500"><br>

            </div>
            <input class="button" type="button" value="Compute" onclick="plotAndCompute()">
        </form>
    </div>
    <div id="plot">
        <div id="function">

        </div>
        <div id="result">

        </div>
    </div>


</div>

</body>
</html>